<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="alert alert-warning" style="margin-top:100px">
            <h1>
                <i class="bi-folder" style="font-size:48px; color:#cc66ff"></i> Clinica S.A.
            </h1>
            <p>
                NUESTRA ESPECIALIDAD ES CURARTE
            </p>
            <hr class="my-4" style="border-top:2px dotted #00f" />
            <p>
                contamos con profesionales calificados para atender las necesidades
                de salud,brindandole diagnosticos,pronosticos y tratamiento adecuado
            </p>
            <a class="btn btn-primary" href="../Home/Citas">Se para tu Cita...</a>
        </div>
    </div>
    <div class="col-1"></div>
</div>
